body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
}

#navbar {
    width:100%; 
    height:50px; 
    background: #262626; 
    color: #fff; 
    font-weight: bolder; 
    font-size: 25px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#info-box {
    position: absolute;
    top:100px; 
    z-index: 10000;
    background: #fff;;
    padding:15px;
    left:20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
}


#info-title{
    font-size: 15px;
    font-weight: bold;
}


.marker {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background: green;
    opacity: .5;
    border-radius: 50%;
}

.info-window-wrap {
    background: #fff;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.info-window-title {
    font-size: 15px;
    font-weight: bold;
}

.info-window-content {
    font-size: 13px;
    font-weight: normal;
}

.info-window-data {
    font-size: 13px;
    font-weight: normal;
}



#current {
    position: absolute;
    top: 180px;
    z-index: 10000;
    background: white;
    left: 20px;
    padding: 15px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
}


.pulse {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(255, 0, 0);
    animation: pulse 1.7s infinite;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    }
}







#search {
    position: absolute;
    top: 100px;
    left: 140px;
    padding: 15px;
    z-index: 10000;
    background: white;
    border: 1px solid rgba(0, 0 , 0, 0.2);
    border-radius: 4px;
    text-align: center;
}

#search_input {
    border: none;
}

#search_input:focus {
    outline: none;
}